/*Elements selectors*/
body{
    
    background-color: #eeeb9f9c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;  
}        

header{
    border-bottom:solid 3px black;
    width:100%;
    padding-bottom: 20px;
    
    top: 0;
    width: 100%;
   
}

section {
    border-left: 6px solid rgb(128, 19, 0);
    height: auto;
    margin-left:202px;
    display:flex ;
    flex-direction: column;
}

img{
    justify-content: left;
    margin-top:-201px;
    margin-left:35px;
}

/*Class selectors*/
.contact{
    display: inline;
    font-size: 30px;
    border:2px outset blue;
    border-radius: 10%;
    box-shadow:2px 2px 2px 2px black;
    margin: 45px;
    background-color: #f7f275;
    padding: 10px 10px;
}

.contact:hover{
    background-color: rgb(38, 211, 211);
}

.box{
    border:4px solid black;
    margin: 10px;
    border-radius: 8%;
    height: 215px;
    max-width: 100%;
    background:linear-gradient(#fc7d74,#ffe189);
    margin-left: 85px;
    flex:4;
}

.box1{
    height:350px;
}

.box:hover {
    border: 7px solid rgb(4, 47, 165) ;
    border-radius: 8%;
    cursor: pointer;
}

.margin{
    margin:35px;
}

.text-right{
    text-align: right;
    display: flex;
}
      
/*id Selectors*/   
#name{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin-top: 60px;
    margin-left: 360px;
    padding:50px;
}

#work-content{
    font-size: 52px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align:left;
    padding:35px 100px;
}

#work-content1{
    padding: 98px 100px;
    font-size: 52px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align:left;
    
}
/*remove the underline effect from links*/
#work-content a, #work-content1 a, .contact a{
    text-decoration: none;
}

#history{
    margin-left: 85px;
}

#intro{
    margin-top: 50px;
}

@media screen and (max-width: 960px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    .contact{
        display: block;
    }
    section{
        width:60%;
    }
    p{
        width:60%;
    }
}

p{
    font-size: 130%;
}